body{
    background-color: brown;
}
.ball {
    width: 150px;
    height: 150px;
    // position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.inner{
    background: url("../images/kotel.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;

}
.inner2{
    background: url("../images/kotel.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 450px;
    left: 600px;
}
.innerNew{
    width: 150px;
    height: 150px;
    background: url("../images/kotel.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 100px;
}
#go{
    width: 150px;
    height: 150px;
    background-image: url(../images/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 950px;
    top: 450px;
}
#ball_water{
    background: url("../images/water.png") no-repeat center;
}
#ball_wind{
    background: url("../images/wind.png") no-repeat center;
    background-size: 50% 50%;
}
#ball_fire{
    background: url("../images/fire.png") no-repeat center;
}
#ball_stone{
    background: url("../images/stone.png") no-repeat center;
    background-size: 75% 75%;
}
#ball_earth{
    background: url("../images/earth.png") no-repeat center;
}
#ball_metal {
    background-size: 50% 50%;
    background-position: 50% 65%;
}
#ball_lava {
    background-size: 50% 50%;
    background-position: 50% 65%;
}
#ball_steam {
    background-size: 50% 50%;
    background-position: 50% 65%;
}
#ball_boloto {
    background-size: 50% 50%;
    background-position: 50% 65%;
}

.ballSmall{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
}
.ball1{
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    position: absolute;
}
.wraper-img{
    width: 1050px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 150px;
}

