* {
  margin: 0;
  padding: 0
}
ul, li {
  list-style: none;
}
.wrapper{
    width: 1280px;
    height: 1795px;
    margin: 0 auto;
    border: 1px solid
}

.content{
	background-color: #d6e6ef;
	height: 594px;
}

/*----------------------*/

.map h1, h5 {
	margin: 0;
	font-weight: normal;
	text-align: center;
}

.map a{
	text-decoration: none;
	color: #6ab5d0;
}

.map {
	text-align: center;
	color: #4690b4;
	font-family: tahoma, sans-serif;
	width: 1000px;
	height: 500px;
	margin: auto;
}

#map_img {
	position: absolute;
	left: 175px;
	margin: auto;
	width: 952;
}

#africa {
	position: absolute;
	top: 281px;
	left: 581px;
}

#ad {
	position: relative;
	left: -156px;
	top: 70px;
}