body{
    background-image: url("../img/gun.jpg");
    background-size:100%;
}
header{
    /*margin-top:100px;*/
    font-family: Cuprum, Arial, Helvetical, sans-serif ;
}
.dws{
    margin: 0;
    padding:0;
}

.dws-menu ul,
.dws menu ol{
    list-style: none;
}
.dws-menu>ul{
    display: flex;
    justify-content: center;

}
.dws-menu>ul li a{
    display: block;
    background: silver;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}
.dws-menu > ul li{
    position: relative;
    /*border-right: 1px solid blue;*/
    /*border-top: 1px solid blue;*/
    /*border-bottom: 1px solid blue;*/

}
.dws-menu > ul li:first-child{
    /*border-left: 1px solid blue;*/

}
.dws-menu > ul li:last-child{
    /*border-right: none;*/

}

.dws-menu li a:hover{
    background: darkslategrey;
    color:red;
    box-shadow: 1px 5px 10px -5px black;
    transition: 0.3s;
}
/*Sub menu*/

.dws-menu li ul {

}
.dws-menu li>ul li {
    /*border: 1px solid blue;*/
}
.dws-menu li>ul li a{
    padding: 10px;
    text-transform: none;
    background: white;
    display: flex;
    position: relative;
}

.pistols{
    position: absolute;
    right: 0px;
    top: 0px;
    /*border: 1px solid blue;*/
    margin: 0;
}
.pistols li{
    position: relative;
    right: -150px;
    top: -2px;
    /*border: 1px solid blue;*/
}
#pistols-ul{
    margin-top: 36px;
    position: absolute;
    left: 190px;
    border: 1px solid whitesmoke;
    padding: 0;
    top: -36px;
    display: none;
    min-width: 157px;
}
#productions{
    display: none;
    padding-left: 0;
    position: absolute;
    min-width: 190px;
    left: -1px;
}
    .fafa-2:hover ~ #productions{
        display: block;
    }
    .pistols:hover ~ #pistols-ul{
        display: block;
    }
    #productions:hover {
        display: block;
    }
    #pistols-ul:hover{
        display: block;
    }


/*ul, menu, dir {*/
    /*-webkit-padding-start:0px;*/
/*}*/